.cuadrado {
    width: 1100px;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px auto; 
    justify-content: center;
    padding: 10px;
    border-radius: 35px;
    margin-top: 100px;
}

.cuadrado img {
    width: 120px;              
    height: auto;
    margin-right: 20px;  
}

.square {
    width: 100%; 
    height: 200px;    
    text-align: center;         
    position: relative;        
    display: flex;            
    align-items: center;       
    padding: 0px;            
    justify-content: flex-start; 
    justify-content: center;
}

.date{
    margin-right: 65px;
    text-align: right;
    font-size: 20px;
}

#day{
    width: 35px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

#month{
    width: 35px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

#year{
    width: 50px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

.linea-separacion {
    width: 2px; /* Grosor de la línea */
    height: 30px; /* Altura de la línea */
    background-color: black; /* Color de la línea */
    margin: 0 10px; /* Espacio entre la línea y los inputs */
}

.linea-separaciondir {
    width: 2px; /* Grosor de la línea */
    height: 50px; /* Altura de la línea */
    background-color: black; /* Color de la línea */
    margin: 0 10px; /* Espacio entre la línea y los inputs */
}

.contenedor {
    display: flex;
    justify-content: center;
    margin: -2px;
    margin-left: 65px;
    margin-right: 65px;
}

.contenedorsalud{
    justify-content: center;
    margin: -2px;
    margin-left: 65px;
    margin-right: 65px;
}

.estu-input, .direccion-input, .salud-input, .antibiotico-input, .medicamento-input, .alimento-input, .animales-input, .picaduras-input {
    display: flex;
    width: 100%;
    border: 2px solid black;
}

.estu, .direccion, .salud, .antibiotico, .medicamento, .alimento, .animales, .picaduras {
    margin-left: 10px;
    flex: 0 0 210px;  
}

#iptestu, #iptdireccion, #iptsalud {
    width: 680px;
    padding-top: 3px;
    border: none;
    outline: none;
}

.semestre-input, .telefono-input, .hepatitis-input, .anemia-input, .ha-input, .asma-input {
    display: flex;
    width: 100%;
    border: 2px solid black;
}

.semestre, .telefono, .hepatitis, .anemia, .ha, .asma {
    margin-right: 40px;
    margin-left: 10px;
    flex: 0 0 170px;  
}

#iptsemestre, #ipttelefono, #ipthepatitis, #iptanemia, #iptha, #iptasma {
    width: 200px;
    border: none;
    outline: none;
}

.turno-input, .celular-input, .gastritis-input, .diabetes-input, .epilepsia-input, .respiratorias-input, .antibioticono-input, .medicamentono-input, .alimentono-input, .animalesno-input, .picadurasno-input {
    display: flex;
    width: 100%;
    border: 2px solid black;
    border-left: none;
}

.turno, .celular, .gastritis, .diabetes, .epilepsia, .respiratorias, .antibioticono, .medicamentono, .alimentono, .animalesno, .picadurasno {
    margin-right: 40px;
    margin-left: 10px;
    flex: 0 0 95px;  
}

#iptturno, #iptcelular, #iptgastritis, #iptdiabetes, #iptepilepsia, #iptrespiratorias {
    width: 300px;
    padding-top: 3px;
    border: none;
    outline: none;
}

.emergy-input {
    display: flex;
    height: 54px;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
}

.emergy {
    margin-top: 3px;
    margin-left: 10px;
    height: 50px;
    flex: 0 0 210px;  
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.iptemergy {
    margin-left: 10px;
}

#iptemergy {
    width: 600px;
    height: 50px;
    padding-top: 3px;
    border: none;
    outline: none;
}

.grlsalud{
    border: 2px solid black;
    margin-top: 25px;
    margin-bottom: -2px;
    width: 234px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.padecimientos{
    text-align: center;
    margin-top: 25px;
}

.especifico, .firma-tutor{
    border: 2px solid black;
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    padding-top: 3px;
}

.padres{
    margin-top: 25px;
}

#iptenfespecifico, #iptfirma-tutor{ 
    width: 944px;
    height: 55px;
    border: 2px solid black;
    margin-top: 2px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    outline: none;
}   

input[type="radio"] {
    margin-right: 7px
    
}

label {
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
}

#iptcualanti, #iptcualmedi, #iptcualalimento, #iptcualanimal, #iptcualpica{
    border: none;
}

.contenedorAP {
    display: flex;
    justify-content: center;
    margin: -2px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 25px;
    border: 2px solid black;
}

.contenedorAPS {
    display: flex;
    justify-content: center;
    margin: -2px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 0;
    border: 2px solid black;
}

.psicologico-input, .depresion-input, .ansiedad-input {
    display: flex;
    width: 100%;
    flex-grow: 2; /* Esto hará que el apartado Psicológico sea más grande */
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
    border-left: none;
    padding-left: 8px;
}

.diagnostico-input {
    display: flex;
    width: 100%;
}

.seguimiento-input{
    display: flex;
    width: 100%;
}

.diagnostico, .seguimiento {
    margin-right: 40px;
    margin-left: 10px;
    flex: 0 0 160px;
}

.separacion {
    width: 2px;
    height: 100%;
    position: relative;
    left: 101px;
    background-color: black;
}

.linea-separacion-psicologico {
    width: 2px;
    height: 50px;
    background-color: black;
    position: relative;
    left: 100px; /* Mueve la línea 50px a la derecha */
}


.iptdiagnostico {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
}

.iptseguimiento{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input[type="radio"] {
    margin: 0 5px;
}

#iptdiadepre, #iptseguidepre, #iptdiaansi, #iptdiaTA, #iptdiafobia, #iptdiaTDH, #iptdiaotra{
    border: none;
    outline: none;
}

.observaciones{
    border: 2px solid black;
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    padding-top: 3px;
}

#iptobservaciones{
    border: 2px solid black;
    width: 88%;
    margin-left: 65px;
    margin-right: 65px;
}

.guardar {
    display: flex; /* Activar flexbox */
    margin-right: 80px;
    justify-content: right; /* Centrar los botones horizontalmente */
    gap: 25px; /* Espaciado entre botones */
    margin-top: 20px; /* Separación desde otros elementos superiores */
}

.btn-custom, .btn-pdf {
    width: 130px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.icon{
    margin-left: 10px;
}

/* Botón Guardar */
.btn-custom {
    background-color: #4CAF50; /* Color verde */
    color: white;
}

.btn-custom:hover {
    background-color: #45a049; /* Verde más oscuro */
}

/* Botón Generar PDF */
.btn-pdf {
    background-color: #536370be;
    color: white;
    padding-right: 2px;
}

.btn-pdf:hover {
    background-color: #4d576181;
}