.cuadrado {
    width: 900px;
    height: 1000px;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px auto; 
    justify-content: center;
    padding: 10px;
}

.cuadrado img {
    width: 160px;              
    height: auto;
    margin-right: 20px;        
}

.square {
    width: 100%; 
    height: 200px;    
    text-align: center;         
    position: relative;        
    display: flex;            
    align-items: center;       
    padding: 30px;            
    justify-content: flex-start; 
}

.text {
    max-width: 600px;          
    overflow: hidden;          
    text-overflow: ellipsis; 
    white-space: nowrap;    
}

.text p {
    font-size: 23px;
    margin: 5px 0 0;
    font-weight: 700;
}

.cuerpo{
    margin-left: 65px;
}

.cuerpo p {
    font-weight: bold;
}

.alumno{
    margin-left: 65px;
}

.input[type="text"] {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 5px 10px;
    margin-left: 50px;
    font-family: inherit;
    font-size: inherit;
    width: 700px;
}