.cuadrado {
    width: 1100px;
    height: 900px;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px auto; 
    justify-content: center;
    padding: 10px;
    border-radius: 35px;
    margin-top: 100px;
}

.cuadrado img {
    width: 120px;              
    height: auto;
    margin-right: 20px;  
}

.square {
    width: 100%; 
    height: 200px;    
    text-align: center;         
    position: relative;        
    display: flex;            
    align-items: center;       
    padding: 0px;            
    justify-content: flex-start; 
    justify-content: center;
}

.text {
    overflow: hidden;          
    text-overflow: ellipsis; 
    white-space: nowrap;
    margin-right: 65px;
}

.date{
    margin-right: 65px;
    text-align: right;
    font-size: 20px;
}

#day{
    width: 35px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

#month{
    width: 35px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

#year{
    width: 50px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.name{
    border: 2px black solid;
    margin-left: 65px;
    margin-right: 65px;
}

.alumno{
    padding: 10px 0;
    margin-left: 20px;
    border-top: none;
    padding-bottom: 0;

}

.enrollment{
    border: 2px black solid;
    margin-left: 65px;
    margin-right: 65px;
    border-top: none;
}

.matricula{
    padding: 10px 0;
    padding-bottom: 0;
    margin-left: 20px;
    border-top: none;
}

.teacher{
    border: 2px black solid;
    margin-left: 65px;
    margin-right: 65px;
    border-top: none;
}

.report{
    padding: 10px 0;
    margin-left: 20px;
    border-top: none;
    padding-bottom: 0;
}

#textalumno{
    background-color: #ffff;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 440px;
    margin-left: 45px;
}

#matricula{
    background-color: #ffff;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 440px;
    margin-left: 120px;
}

#textteacher{
    background-color: #ffff;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 440px;
    margin-left: 40px;
}

.notes{
    border: 2px black solid;
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    border-top: none;    
}

#notastxt{
    margin-left: 65px;
    margin-right: 65px;
    height: 200px;
    width: 948px;
    border: 2px black solid;
    border-top: none;
    outline: none;
}

.guardar {
    width: 90px;
    margin-left:500px;
    margin-top: 25px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.btn-custom {
    background-color: #4CAF50; /* Color verde */
    color: white; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #45a049; /* Un tono más oscuro */
}
