.sidebar {
    background-color: #0F8C5E;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: 1;
}

.toggle-btn {
    position: absolute;
    top: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

button svg {
    margin-right: 10px;
}

.sidebar a {
    margin: 23px 0;
    
}

.sidebar a:hover{
    color: #ff1f1f;
}

.sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

.openbtn{
    background-color: #1111;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}

.openbtn:hover{
    background-color: #4444;
}

#main{
    transition: margin-left .5s;
    padding: 16px;
}

.sidebar button {
    color: white;
    background-color: #0F8C5E;
    border: 2px ;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}
button {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    padding: 10px;
}

.sidebar button:hover {
    background-color: #065f47;
}
